
/* Styling for HTML elements*/

body{
  background: lightslategrey;
}

/* Selecting elements by class */
.container-fluid{
  background-color: black;
  padding-left: 400px;
}

.container{
  color: whitesmoke;
  margin-top: 80px;;
}

/* Selecting elements by ID */

#index_image{
  width: 1600px;
  height: 400px;
  
  
  
}